.graphContainer {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 10px;
   height: 620px;
}

.table
.table th{
   line-height: 10px !important;
}

.table td{
   padding: 0px 0px 0px 10px !important;
   line-height: 33px !important;
}
.table tr{
   line-height: 30px !important;
}