.viewBoxContainerHorizontal {
   display: flex;
   flex-direction: column;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
   min-width: 650px;
   min-height: 450px;
   width: 650px;
   height: 450px;
   font-family: "Montserrat", sans-serif !important;
   font-weight: bold;
}

.viewBoxContainerVertical {
   composes: viewBoxContainerHorizontal;
   min-width: 320px;
   min-height: 450px;
   width: 320px;
   height: 450px;
}

.viewBoxContainerHorizontalLarge {
   composes: viewBoxContainerHorizontal;
   min-width: 1660px;
   min-height: 600px;
   width: 1660px;
   height: 600px;
}

.viewBoxContainerHorizontalLarge4 {
   composes: viewBoxContainerHorizontal;
   min-width: 1320px;
   min-height: 600px;
   width: 1320px;
   height: 600px;
}

.viewBoxContainerHorizontalLarge4DynamicHeight {
   composes: viewBoxContainerHorizontalLarge4;
   height: max-content;
   min-height: max-content;
}

.viewBoxContainerHorizontalMedium {
   composes: viewBoxContainerHorizontal; /*  TO DO   FIX*/
   min-width: 990px;
   min-height: 450px;
   width: 990px;
   height: 450px;
}

.viewBoxContainerHorizontalDynamicHeight {
   composes: viewBoxContainerHorizontalLarge;
   height: max-content;
   min-height: max-content;
}

.header {
   display: flex;
   align-items: center;
   min-height: 30px;
   border-bottom: 1px solid #eeeeee;
   font-weight: bold;
   font-size: 15px;
}

.header .headerTitle {
   margin-left: 10px;
}

.childrenContainerHorizontal {
   display: flex;
   flex-direction: column;
   height: 370px;
   padding-left: 10px;
   padding-right: 10px;
}
.childrenContainerVertical {
   composes: childrenContainerHorizontal;
}
.childrenContainerHorizontalLarge {
   composes: childrenContainerHorizontal;
   height: 520px;
}

.childrenContainerHorizontalLarge4 {
   composes: childrenContainerHorizontal;
   height: 520px;
}

.childrenContainerHorizontalLarge4DynamicHeight {
   composes: childrenContainerHorizontalLarge4;
   height: max-content;
}

.childrenContainerHorizontalMedium {
   composes: childrenContainerHorizontal;
}

.childrenContainerHorizontalDynamicHeight {
   composes: childrenContainerHorizontalLarge;
   height: max-content;
}

.interval {
   display: flex;
   align-items: center;
   min-height: 50px;
   border-top: 1px solid #eeeeee;
}

.spinner {
   display: flex !important;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}
